# Topic 1 Introduction to Python Programming

1. You can run the notebook document sequentially (one cell at a time) by pressing **shift + enter**. 
2. While a cell is running, a [*] is shown on the left. After the cell is run, the output will appear on the next line.

### What is programming?

Programming is the way of telling a machine what to do. This machine might be your computer, smartphone, or tablet. The task might be something as simple as noting down today’s date or capturing information about the Earth’s atmosphere on a satellite. 

Programming has a lot of alias names and they’re used interchangeably. It goes by programming, developing, or coding all of which involves creating software that gets a machine to do what you want it to do.

### Introduction to Python programming
Python places more weight on coding productivity and code readability. 

Python makes use of simple syntax which looks like written English. It talks with words andsentences, rather than characters. 

Python is a portable language. Python can be installed and run on any computer.

The characteristics of Python programming are:

- Python is an interpretive language and Python codes run sequentially 
- Python syntax is case sensitive
- There is no semicolon to indicate an end of the statement and therefore Python interprets the end of the line as the end of the statement.
- Python is very sensitive to spacing in front
- One more thing to keep in mind, the equal '=' sign used while assigning a value to a variable. It should not be read as 'equal to'. It should be read or interpreted as "is set to".

### Hello World program
How would you make Python print "Hello World" for you? Well, it's never been this easy, just use the <b> print </b> command.

In [ ]:
print("Hello World!")

In [ ]:
# You may try other variations
print("I am new to programming!")
print("Python is cool!")

### Comment

In [ ]:
# This is a single line comment
print("Hello, World!")

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

### Acitivty

Python coding is a lot of fun and is easy. Take this Python code for an example:

In [ ]:
x = 2
y = 3
sum = x + y
print(sum)

# Topic 2: Data Types and Operators

### Numbers

In [ ]:
x = 1
print(x)      # This will print the new value of 'x' variable
type(x)        # This will print the most updated data type of 'x'

In [ ]:
x = x + 1.11
print(x)      # This will print the new value of 'x' variable
type(x)        # This will print the most updated data type of 'x'

#### Indentation

Python forces you to follow proper indentation. The number of spaces in indentation can be different, but all lines of code within the same block should have the same number of spaces in the indentation.

For example, the 3rd line of the code in the cell below shows incorrect indentation. Try running the code to see the error that it throws.

In [ ]:
# Python Program to calculate the square of number
num = 8
   num_sq = num ** 2
print (num_sq)

In [ ]:
# On removing the indent
num = 8
num_sq = num ** 2
print(num_sq)

In [ ]:
a = 1
b = 2
#     print(a+b)  
print(a+b)

#### Multiple Assignment

In [ ]:
a,b=1,2
a,b = b,a+b
print('a = ',a)
print('b = ',b)

In [ ]:
a,b = 1,2
a = b
b = a +b
print('a = ',a)
print('b = ',b)

#### Formatting Numbers using "format"

In [ ]:
# To print in a formatted way
a = 1
b = 2
print("{}+{}={}".format(a,b,a+b))

In [ ]:
# To format the decimal places
a = 1.222
b = 2.333
print("{:0.1f}+{:0.1f}={:0.1f}".format(a,b,a+b))

In [ ]:
# To arrange the location

a = 1.222
b = 2.333
print("{1:0.1f}+{0:0.1f}={2:0.1f}".format(a,b,a+b))

#### Formatting Numbers Using String Literals

In [ ]:
# To print in a formatted way
a = 1
b = 2
print(f"{a}+{b}={a+b}")

In [ ]:
# To format the decimal places
a = 1.222
b = 2.333
print(f"{a:0.1f}+{b:0.1f}={a+b:0.1f}")

In [ ]:
# To arrange the location
a = 1.222
b = 2.333
print(f"{b:0.1f}+{a:0.1f}={a+b:0.1f}")

#### Activity: Format Numbers

a = 4.444

b = 5.555

c = 6.6666

d = a + b +c

Use string literals method to format the output as shown below
5.55 + 6.67 + 4.4 = 17

In [ ]:
a = 4.444
b = 5.555
c = 6.6666
d = a + b +c

print(________________)

#### Solution: Format Numbers

In [ ]:
a = 4.444
b = 5.555
c = 6.6666
d = a + b +c

print(f"{b:0.2f}+{c:0.2f}+{a:0.1f}={a+b+c:0.0f}")

#### Multiline Statements

In [ ]:
biology_marks = 82
physics_marks = 91
maths_marks = 96
chemistry_marks = 88
total_marks = biology_marks + physics_marks + maths_marks + chemistry_marks
print (total_marks)

If a line is too long, the code can be made readable by adding a split, to a single line of code and convert them into multiple lines. In such scenarios, use backward slash as line continuation character to specify that the line should continue.

In [ ]:
total_marks = biology_marks + \
    physics_marks + \
    maths_marks + \
    chemistry_marks

print(total_marks)

**bold text**### Strings

Python support single and double quotes. But the quotation has to be consistent.

In [ ]:
# Concatenate two strings

a = 'Hello'
b = " World"
print(a+b)

In [ ]:
# Change the casing in string

a = "Hello".upper()
print(a)
b = " World".lower()
print(b)
print(a+b)

### Strings

In [ ]:
a = 'Hello'
b = " World"
print(a+b)

#### String Methods

In [ ]:
a = "The GST is 7%" 
b = a.replace("GST","Good and Service Tax")
print(b)

#### Formatting Strings

In [ ]:
# Method 1: format
b ="budget"
print("A {} is a quantitative plan for acquiring and using resources over a specified period".format(b))

In [ ]:
# Method 2: String literals
b ="budget"
print(f"A {b} is a quantitative plan for acquiring and using resources over a specified period")

#### Activity: Format String

bs ="balance sheet"
income ="income statement"

Print the following output using string literals method

"The finance statements typically require Balance sheet and INCOME STATEMENT."

In [ ]:
bs ="balance sheet"
income ="income statement"

print(__________________)

#### Solution: Format String

In [ ]:
bs ="balance sheet"
income ="income statement"

print(f"The finance statements typically require {bs.capitalize()} and {income.upper()}.")

#### Strip Whitespace

In [ ]:
# Remove the spacing in string

a = "         Hello".strip()
b = " World"
print(a+b)

#### Split and Join Strings

In [ ]:
a = 'Asset is the sum of Liability and Equity. '
b = a.split()
print(b)

a = 'Asset = Liability + Equity '
b = a.split("=")
print(b)

c = " = ".join(b)
print(c)

#### Activity: Split and Join String

Given email = 'finance@company.com'

- separate the user name and domain name
- join back the username and domain name with a '/'

In [ ]:
email = 'finance@company.com'

b = email.__________
print(b)
c = "/".__________
print(c)

#### Solution: Split and Join String

In [ ]:
email = 'finance@company.com'

b = email.split("@")
print(b)
c = "/".join(b)
print(c)

### Lists

Lists in Python, are used to store heterogeneous types of data. Lists are mutable i.e. one can change the content within a list, without changing its identity.


List is enclosed by square brackets and elements should be separated by a comma.

#### Creating lists

In [ ]:
new_list = []  # Empty List
print(new_list)
type(new_list)

In [ ]:
new_list = [10, 20, 30, 40]  # A list of integers
print(new_list)
type(new_list)

In [ ]:
new_list = [10, 20.2, "thirty", 40]  # A list of mixed data types
print(new_list)
type(new_list)

In [ ]:
new_list = [[10, 20, 30], [10.1, 20.2, 30.3], [
    "ten", "twenty", "thirty"]]  # A nested list
print(new_list)
type(new_list)

In [ ]:
new_list = [10, [20.2, ["thirty", [40]]]]  # A deeply nested list
print(new_list)
type(new_list)

#### Slicing List

In [ ]:
a = [7,8,9,10,11] 
a[0]

In [ ]:
a = [7,8,9,10,11] 
a[2]

In [ ]:
a = [7,8,9,10,11] 
a[0:3]

In [ ]:
a = [7,8,9,10,11] 
a[2:4]

In [ ]:
a = [7,8,9,10,11] 
a[-1]

In [ ]:
a = [7,8,9,10,11] 
a[-2]

In [ ]:
a = [7,8,9,10,11] 
a[:]

In [ ]:
a = [7,8,9,10,11] 
a[0:4:2]

#### List Methods
Let us have a look at few of the methods, with which we can manipulate lists.

Please Note: A function or a method is a block of code which is used to perform a single task or a set of tasks repeatedly.

list.<b>index</b> (x) <br>
It returns a zero-based index in the list of the first item whose value is x. Raises an error of there is no such item as 'x'.

In [ ]:
a = ['equity','liability','asset','expense','income']

a.index('expense')

list.<b>append</b> (x) <br>
Add an item to the end of the list

In [ ]:
a = ['equity','liability','asset','expense','income']
a.append('revenue')
a

list.<b>extend</b> (x) <br>
Extend the list by appending all the items at the end of the list.

In [ ]:
a = ['equity','liability','asset','expense','income']
b = ['cash flow', 'budget']
b.extend(a)
b

list.<b>insert</b> (i,x) <br>
Insert an item at any given position within the list. The first argument 'i', is the index of the item before which you want to insert something.

In [ ]:
# To insert something at the beginning of the list, you may type list.insert (0,x)
a = ['equity','liability','asset','expense','income']
a.insert(0,'budget')
a

In [ ]:
# Inserting an item at the 2th position in a list

a = ['equity','liability','asset','expense','income']
a.insert(2,'budget')
a

list.<b>remove</b> (x)<br>
Remove the first item from the list whose value is 'x'. It is an error if there is no such item.

In [ ]:
a = ['budget','equity','liability','asset','expense','income']
a.remove('budget')
a

In [ ]:
a = ['budget','equity','liability','asset','expense','income']
a.remove('asset')
a

list.<b>pop</b> (i) <br>
Remove any item from any given position (index) in the list. If no index is specified, it removes and returns the last element from the list.

In [ ]:
a = ['budget','equity','liability','asset','expense','income']
a.pop()
a

In [ ]:
a = ['budget','equity','liability','asset','expense','income']
a.pop(2)
a

list.<b>count</b> (x) <br>
Returns the number of times 'x' appears in the list

In [ ]:
a = ['equity','budget','equity','liability','asset','equity','expense','income']
a.count('equity')

list.<b>reverse</b> () <br>
It reverses the items of the list.

In [ ]:
a = ['budget','equity','liability','asset','expense','income']
a.reverse()
a

list.<b>sort</b> () <br>
It sorts the items in the list.

In [ ]:
a = ['budget','equity','liability','asset','expense','income']
a.sort()
a

list.<b>copy</b> () <br>
It duplicate another list.

In [ ]:
a = ['equity','liability','asset','expense','income']
b = a.copy()
b.pop()
a

In [ ]:
c = a 
c.pop()
a

#### Activity: List

years =['2017,'2018','2020','2021']

- copy from original years to years2
- remove 2021 in years2
- insert '2019' in location 2 in years2
- reverse the order of years2

In [ ]:
y1 =['2017','2018','2020','2021']

y2 = ___________
y2._____________
y2.______________________
y2

#### Solution: List

In [ ]:
y1 =['2017','2018','2020','2021']

y2 = y1.copy()
y2.remove('2021')
y2.insert(2,'2019')
y2.revers()
y2

### Tuple

Tuple is an immutable list. Similar to lists a tuple can contain a heterogeneous sequence of elements but it is not possible to append, edit or remove any individual elements within a tuple.

#### Creating Tuple

In [ ]:
new_tup = ()  # Empty Tuple
print(new_tup)
type(new_tup)

In [ ]:
new_tup = (10, 20, 30, 40)  # A tuple of integers
print(new_tup)
type(new_tup)

In [ ]:
new_tup = (10, 20.2, 'thirty', 40)  # A tuple of mixed data type
print(new_tup)
type(new_tup)

In [ ]:
new_tup = ((10, 20, 30), (10.1, 20.2, 30.3),
           ("ten", "twenty", "thirty"))  # A nested tuple
type(new_tup)

In [ ]:
new_tup = (10, (20.2, ("thirty", (40))))  # A deeply nested tuple
print(new_tup)
type(new_tup)

#### Slicing Tuples

In [ ]:
a = ('equity','liability','asset','expense','income')
a[0]

In [ ]:
a = ('equity','liability','asset','expense','income')
a[1]

In [ ]:
a = ('equity','liability','asset','expense','income')
a[-1]

In [ ]:
a = ('equity','liability','asset','expense','income')
a[0:2]

#### Tuple vs List

In [ ]:
b = ['equity','liability','asset','expense','income']
b.append('budget')
print(f"The list is {b}")
a = ('equity','liability','asset','expense','income')
a.append('budget')
print(f"The tuple is {a}")

### Dictionary

A dictionary is generally used for mapping. Similarly, a dictionary in Python also has a mapping between its “Key” and “Value” pairs. You can access the dictionary using ‘keys’ to get the information or ‘value’ stored within these ‘keys’.

#### Creating dictionaries

Dictionaries are enclosed in brace brackets and the key: value pair should be separated by a comma.

In [ ]:
new_dict = {}  # Empty Dictionary
print(new_dict)
type(new_dict)

In [ ]:
# Creating a new dictionary

revenue = {'2017': '1.3M', '2018': '2.2M', '2019': '3.5M'}
print(revenue)
type(revenue)

#### Accessing Dictionary Value

In [ ]:
# Printing multiple values of various keys

revenue = {'2017': '1.3M', '2018': '2.2M', '2019': '3.5M'}
revenue['2017'], revenue['2019']

#### Dictionary Methods

Let us have a look at the few functions for accessing or manipulating dictionaries.

<b>len (x_dict)</b> <br>
To know the number of key: value pairs in the dictionary.

In [ ]:
revenue = {'2017': '1.3M', '2018': '2.2M', '2019': '3.5M'}
len(revenue)

<b>x_dict.keys ( )</b> <br>
Returns all the 'keys' of dictionaries

In [ ]:
revenue = {'2017': '1.3M', '2018': '2.2M', '2019': '3.5M'}
revenue.keys()

<b>x_dict.values ( )</b> <br>
Returns all the 'values' of dictionaries

In [ ]:
revenue = {'2017': '1.3M', '2018': '2.2M', '2019': '3.5M'}
revenue.values()

The <b>del</b> statement <br>
It is used for deleting any keys from the dictionary.

In [ ]:
revenue = {'2017': '1.3M', '2018': '2.2M', '2019': '3.5M'}
del revenue['2017']
revenue

x_dict.<b>pop (key) </b> <br>
It will pop a 'value' of the reqired key and remove the key

In [ ]:
revenue = {'2017': '1.3M', '2018': '2.2M', '2019': '3.5M'}
print(revenue.pop('2018'))
revenue

### Set

A set is an unordered collection with no duplicate elements. They are useful to create lists that hold only unique values and are also mutable. The elements of a set can be anything like numbers, strings or characters.

#### Creating Sets

In [ ]:
new_set = {}  # Empty Set ---> An empty set cannot be created
print(new_set)
type(new_set)

In [ ]:
new_set = {'equity','liability','asset','expense','income'} # A new set
print(new_set)
type(new_set)

In [ ]:
# Now there are 2 'equity' in our set. What will happen if we print this set?

new_set = {'equity','liability','easset','expense','income','equity'} 

print(new_set)  # The set will only print unique values

#### Set Methods

You can even perform mathematical operations like set union, set intersection, set difference and symmetric difference amongst different datasets.

<b> x.union(y) </b> <br>
This method returns all the unique items that are present in the two sets, as a new set.

In [ ]:
a = {'equity','liability','asset'}
b = {'asset','expense','income'}
a.union(b)

<b> x.intersection(y) </b> <br>
This method returns the common items that are present in two sets, as a new set.

In [ ]:
a = {'equity','liability','asset'}
b = {'asset','expense','income'}
a.intersection(b)

<b> x.difference(y) </b> <br>
This method returns the items of 'set 1' which are not common (repetitive) to the 'set 2', as a new set.

In [ ]:
a = {'equity','liability','asset'}
b = {'asset','expense','income'}
a.difference(b)

<b>y.issubset(x)</b> <br>
This method returns True for 'Set 2', if all the elements of 'Set 2' are present in 'Set 1'

In [ ]:
a = {'equity','liability','asset'}
b = {'asset'}
b.issubset(a)

<b>x.issuperset(y)</b><br>
This method returns True for 'Set 1' if all the elements of Set 2 are present in 'Set 1'.

In [ ]:
a = {'equity','liability','asset'}
b = {'equity','liability','asset','expense','income','equity'} 
b.issuperset(a)

#### Activity: Set

sent = "A budget is a quantitative plan for acquiring and using resources over a specified period."

Find out the number of unique vocabulary in this sentence

In [ ]:
sent = "A budget is a quantitative plan for acquiring and using resources over a specified period."

words = ____________
vocab = ______________
len(vocab)

#### Solution: Set

In [ ]:
sent = "A budget is a quantitative plan for acquiring and using resources over a specified period."

words = sent.split()
vocab = set(words)
len(vocab)

### Operators

In [ ]:
# Arithmetic Operators

7%3

In [ ]:
# Compound Operators

a = 1
#a = a + 2
a += 2
a

In [ ]:
# Comparison Operators
3>2

In [ ]:
3==2

In [ ]:
3!=2

In [ ]:
# Membership Operators

a = ['equity','liability','asset','expense','income']
'asset' in a

In [ ]:
'property' in a

In [ ]:
# Logical Operators

True or False

In [ ]:
True and False

### Activity: Operator

a = 1; b = 2;

What is  (a == 1) and not(b > 3) ?

In [ ]:
a = 1; b = 2;
(_________) and not(______)

### Solution: Operator

In [ ]:
a = 1; b = 2;
(a == 1) and not(b > 3)

# Topic 3 Problem Solving with Control Structures

### If and elif

In python, the syntax for an ‘if' conditional statement is as follows:

<pre>if (condition_1):<br>
    statement_block_1<br>
elif (condition_2):<br>
    statement_block_2<br>
elif (condition_3):<br>
    statement_block_3<br></pre>
<br>
Let us consider an example to understand the working of an 'if' statement.

In [ ]:
stock_price_ABC = 299  # Variable value

if (stock_price_ABC < 300):  # if condition_1 is true then...
    # statement_block_1 will get executed
    print("We will buy 500 shares of ABC")

elif (stock_price_ABC == 300):
    print("We will buy 200 shares of ABC")

elif (stock_price_ABC > 300):
    print("We will buy 150 shares of ABC")

If you change the value of the variable 'stock_price_ABC' to...

In [ ]:
stock_price_ABC = 300  # then...

if (stock_price_ABC < 300):
    print("We will buy 500 shares of ABC")

elif (stock_price_ABC == 300):  # if condition_2 is true then...
    # statement_block_2 will get executed
    print("We will buy 200 shares of ABC")

elif (stock_price_ABC > 300):
    print("We will buy 150 shares of ABC")

If you change the value of the variable 'stock_price_ABC' to...

In [ ]:
stock_price_ABC = 301  # then...

if (stock_price_ABC < 300):
    print("We will buy 500 shares of ABC")

elif (stock_price_ABC == 300):
    print("We will buy 200 shares of ABC")

elif (stock_price_ABC > 300):  # if condition_3 is true then...
    # statement_block_3 will get executed
    print("We will buy 150 shares of ABC")

### If and else 

If - else block of conditional statements is similar to the working of 'if' statements. If the 'if' condition is <b>true</b>, then the statements inside the 'if' block will be executed. If the 'if' condition is <b> false</b>, then the statements inside the 'else' block will be executed. 

In Python, the syntax for an ‘if else' conditional statement is as follows:

<pre>if (condition_1):<br>
    statement_block_1<br>
else:<br>
    statement_block_2<br></pre>
<br>
Let us consider an example to understand the working of an 'if else' statement.

In [ ]:
stock_price_ABC = 300

if (stock_price_ABC > 250):  # if condition 1 is true then....
    # this block of code will be executed
    print("We will sell the stock and book the profit")

else:
    print("We will keep buying the stock")

If you change the value of the variable 'stock_price_ABC' to...

In [ ]:
stock_price_ABC = 200  # then...

if (stock_price_ABC > 250):  # if condition 1 is false then....
    print("We will sell the stock and book the profit")

else:
    # this block of code will be executed
    print(" We will keep buying the stock")

### Activity: Conditional

income = input('What is your income?' )

income = int(income)

- if income is more than  8000, then print "High income"
- if income is is between 4000 to 8000, then print "Medium high income"
- if income is between 2000 to 4000, then print "Medium income"
- if income is between 1000 to 2000, then print "Medium low income"
otherwise, print "Low income"

In [ ]:
# Exercise
income = input('What is your income?' )
income = int(income)
if ________:
    print('High income')
elif ___________:
    print('Medium high income')
elif ______________:
    print('Medium income')
elif _____________:
    print('Medium low income')
else:
    print("Low income")

### Solution: Conditional

In [ ]:
# Exercise
income = input('What is your income?' )
income = int(income)
if income > 8000:
    print('High income')
elif income > 4000:
    print('Medium high income')
elif income > 2000:
    print('Medium income')
elif income > 1000:
    print('Medium low income')
else:
    print("Low income")

### Ternary Operator

In [ ]:
# Ternary Operator

order = 10
discount = 25 if order>100 else 0
discount

### While Loop

The while construct consists of a condition and block of code. 

The general syntax for a ‘while’ loop is as follows: 

<pre>
<b> while condition/expression:
    block of statements</b>
</pre>

To begin, the condition is evaluated.<br>

If the condition is true, the 'block of statements' is executed. Every time, the condition is checked before executing the block of statements. <br>

This keeps on repeating until the condition becomes false. Once the condition is false, it comes out of the loop to execute the other statements.

#### Simple Example of While Loop

In [ ]:
a = 0  # Variable

while a <= 10:  # This is the condition. The loop will execute until the condition becomes 'false'
    a = a + 1
    print(a)
print("We are now out of the loop")

#### Activity: Compute Fibonacci Seq and Golden Ratio Using While Loop

Generate a python list of 10 square numbers using for loop and the range

[1,4,9,16,25,36,49,64,81,100]

In [ ]:
a,b=0,1
fib = []
golden_ratio = []
while (_____________):
    ___________
print(fib)
print(golden_ratio)

#### Solution: Compute Fibonacci Seq and Golden Ratio Using While Loop

In [ ]:
a,b=0,1
fib = []
golden_ratio = []
while (b<100):
    a,b = b,a+b
    fib.append(b)
    golden_ratio.append(round(b/a,3))
print(fib)
print(golden_ratio)

#### Why Multiiple Assignment

In [ ]:
a,b=0,1
fib = []
golden_ratio = []
while (b<100):
    a = b
    b = a+b
    fib.append(b)
    golden_ratio.append(round(b/a,3))
print(fib)
print(golden_ratio)

In [ ]:
# Compute Golden Ratio
a,b=0,1
while (b<5000):
    a,b = b,a+b
    r = b/a
    print(r)

### For Loop

In the programming languages, there are many situations when you need to execute a block of code several numbers of times. A loop statement allows us to execute a statement or group of statements multiple times.

The general syntax for a ‘for’ loop is as follows: 

<pre>
<b>for (variable) in <b>sequence:
    block of statements</b>
</pre>

#### For Loop Example

Here, the block of statements within the loop will get executed, until all ‘sequence’ elements get exhausted. Once all sequence elements are exhausted, the program will come out of the loop.

In [ ]:
# Closing prices of the ABC stock over 10 days

Close_Price_ABC = [300, 305, 287, 298, 335,
                   300, 297, 300, 295, 310]  # Our sequence

for i in Close_Price_ABC:

    if i < 300:
        print("We Buy")

    if i == 300:
        print("No new positions")

    if i > 300:
        print("We Sell")

print("We are now out of the loop")

#### Range

In [ ]:
for i in range(1,20,2):
    print(i)

#### Activity : For Loop

Generate a python list of 10 square numbers using for loop and the range

[1,4,9,16,25,36,49,64,81,100]

In [ ]:
a = []

______________:
    a.append(i*i)
a

#### Solution : For Loop

In [ ]:
a = []

for i in range(1,11):
    a.append(i*i)
a

#### Enumerate

In [ ]:
year = ['2017','2018','2019']
revenue = [150000,200000,500000]

for i,y in enumerate(year):
    r = revenue[i]
    print(f"{y}'s revenue is ${r}")

#### Zip

In [ ]:
year = ['2017','2018','2019']
revenue = [150000,200000,500000]

data = zip(year,revenue)
for y,r in data:
    print(f"{y}'s revenue is ${r}")

#### Activity: Loop Multiple Sequences

year = ['2017','2018','2019']

revenue = [150000,200000,500000]

expense = [90000,100000,250000]

data = ___________________

<pre>
for y,r,e in data:
    print(f"{y}'s revenue is ${r} and expense is ${e}")
</pre>

In [ ]:
year = ['2017','2018','2019']
revenue = [150000,200000,500000]
expense = [90000,100000,250000]

data = ___________________
for y,r,e in data:
    print(f"{y}'s revenue is ${r} and expense is ${e}")

#### Solution: Loop Multiple Sequences

In [ ]:
year = ['2017','2018','2019']
revenue = [150000,200000,500000]
expense = [90000,100000,250000]

data = zip(year,revenue,expense)
for y,r,e in data:
    print(f"{y}'s revenue is ${r} and expense is ${e}")

#### Break

In [ ]:
# Closing prices of the ABC stock over 10 days

Close_Price_ABC = [300, 305, 287, 298, 335,
                   300, 297, 300, 295, 310]  # Our sequence

for i in Close_Price_ABC:

    if i < 300:
        break

    if i == 300:
        print("No new positions")

    if i > 300:
        print("We Sell")

print("We are now out of the loop")

3### Continue

In [ ]:
# Closing prices of the ABC stock over 10 days

Close_Price_ABC = [300, 305, 287, 298, 335,
                   300, 297, 300, 295, 310]  # Our sequence

for i in Close_Price_ABC:

    if i < 300:
        continue

    if i == 300:
        print("No new positions")

    if i > 300:
        print("We Sell")

print("We are now out of the loop")

#### List Comprehension

In [ ]:
a = [i*i for i in range(1,11)]
a

In [ ]:
a = [i*i for i in range(1,11) if i%2==0]
a

### Set Comprehension

In [ ]:
a = {i*i for i in range(1,11)}
a

#### Dict Comprehension

In [ ]:
a = {i:i*i for i in range(1,11)}
a

#### Generator

In [ ]:
a = (i*i for i in range(1,11))
print(next(a))
print(next(a))
print(next(a))

#### Activity: List Comprehension

Create a comprehensive list of 10 square numbers that are not divisible by 3 and 5

[1, 4, 16, 49, 64, 121, 169, 196, 256, 289]

In [ ]:
a = [i*i for i in range(1,20) if ___________ and not i%5==0]
a

#### Solution : List Comprehension

In [ ]:
a = [i*i for i in range(1,20) if not i%3==0 and not i%5==0]
a

# Topic 4 Scripting with Function and Lambda

The syntax for constructing a function is:
<pre>
def function_name (parameter-list):
	Statements, i.e function body
    return a value, if required
</pre>
Let us create ‘my_function’.

This is a simple function which we have created to calculate the exponential of any number. Now, whenever we need to perform this particular calculation, all we need to do is <b>call</b> this function and insert the values for <b>‘x’</b> and <b>‘n’</b>. You may have a look at it.

In [ ]:
def my_function(x, n):
    output = x ** n
    return output

In [ ]:
my_function(10, 2)  # 10 raise to 2 = 100

In [ ]:
my_function(5, 3)  # 5 raise to 3 = 125

#### Activity: Function


The FV calculation allows investors to predict, with varying degrees of accuracy, the amount of profit that can be generated by different investments

Create a function for compute the future value given by:

FV = PV * ((1+r) ** n)

where
- FV: Future value
- PV: Present value
- r: annual interest rate
- n: number of years

In [ ]:
def FV(PV,r,n):
    FV = ____________
    return FV

#### Solution: Function

In [ ]:
def FV(PV,r,n):
    FV = PV * ((1+r) ** n)
    return FV

In [ ]:
PV = 1000
r = 0.05
n = 1

fv = FV(PV,r,n)

print(fv)

#### Another Example

In [ ]:
def fare(d):
    book=2.0
    start=3.0
    cost=1.0
    fare=book+start+d*cost
    return fare

In [ ]:
fare(10)

#### Mutlple Outputs

In [ ]:
def f(x):
    return x*x,2*x

In [ ]:
f(5)

#### Activity: Multiple Return

Prompt the user for the order 
Create a function to return the discount amount and the tax for grocery purchase

- discount = 25 if order > 200 else 0
- disc_amt = discount*order/100
- tax = 0.07*(order - disc_amt)

In [ ]:
def grocery(order):
    discount = ________________
    disc_amt = discount*order/100
    tax = 0.07*(order - disc_amt)
    return ____________

In [ ]:
order = input('How much is your. order')
order = float(order)
discount,tax = grocery(order)
print('The discount is ${}'.format(discount))
print('The tax is ${}'.format(round(tax,2)))

#### Solution: Multiple Return

In [ ]:
def grocery(order):
    discount = 25 if order > 200 else 0
    disc_amt = discount*order/100
    tax = 0.07*(order - disc_amt)
    return disc_amt,tax

In [ ]:
order = input('How much is your. order')
order = float(order)
discount,tax = grocery(order)
print('The discount is ${}'.format(discount))
print('The tax is ${}'.format(round(tax,2)))

#### Multiple Arguments

In [ ]:
def f(x,y):
    return x*y

In [ ]:
f(2,3)

In [ ]:
f(2)

#### Default Argument

In [ ]:
def f(x,y=3):
    return x*y

In [ ]:
f(2)

In [ ]:
def f(x=3,y=3):
    return x*y

In [ ]:
f()

In [ ]:
f(y=5)

#### Variable Argument

In [ ]:
def sum(*b):
    sum = 0
    for i in b:
        sum = sum + i
    return sum

In [ ]:
sum(1,2,3,4,5,6,7,8,9,10)

#### Activity: Variable Arguments

Give a sequence of variable number of elements, create a function to determine the minimum value

Eg a =[5,4,7] then function will return 4

In [ ]:
def min(*b):
    m = ________
    for i in b:
        _______
    return m

#### Solution: Variable Arguments

In [ ]:
def min(*b):
    m = b[0]
    for i in b[1:]:
        if i<m: m=i
    return m

In [ ]:
min(7,4,8,9,10)

#### Lambda Function

The lambda operator is a way to create small <b>anonymous functions</b> i.e. functions without a name.<br>
<br>
They are temporary functions i.e. they are needed only where they have been created.<br>
<br>
The lambda feature was added in Python due to high demand from the Lisp programmers (Lisp is a programming language).

The general syntax for Lambda is as follows:<br>
<pre><b>lambda</b> argument_list: expression</pre>
Let us have a look at some of the examples.

It is similar to defining a function where x and y are the parameters and x + y is the operation performed in the block of codes.<br>

You can even observe, that the usage of lambda is the same as the function call.

In [ ]:
sum = lambda x, y: x + y
sum(2, 3)

In [ ]:
product = lambda x, y: x * y
product(2, 3)

In [ ]:
my_operation = lambda x, y, z:  x + y - z
my_operation(10, 20, 30)

### Activity: Lambda
<pre>
f = lambda x,y: 10*x+y 

def g(f,x,y=0):
  return f(x,y); 

What is g(f,4)?

</pre>

In [ ]:
f = lambda x,y: 10*x+y

def g(f,x,y=0):
  return f(x,y);

In [ ]:
g(f,4)

#### Map

One of the advantages of using a lambda is the map() function.<br>
<pre> map (<b>lambda</b>, sequence of lists)</pre>
map() applies the lambda function to all elements within the sequence. These elements are generally lists.

In [ ]:
list_1 = [1, 2, 3, 4]
list_2 = [10, 20, 30, 40]
list(map(lambda x, y: x + y, list_1, list_2))

In [ ]:
list_1 = [1, 2, 3, 4]
list_2 = [10, 20, 30, 40]
list_3 = [100, 200, 300, 400]
list(map(lambda x, y, z: x + y + z, list_1, list_2, list_3))

In [ ]:
list_2 = [10, 20, 30, 40]
list_3 = [100, 200, 300, 400]
list(map(lambda y, z: y + z, list_2, list_3))

#### Activity: Map

Using map to compute the answer for 
f = lambda x,y:10*x+y

x = [0,1,2,3]

y = [2,4,6,8]

In [ ]:
f = lambda x,y:10*x+y
x = [0,1,2,3]
y = [2,4,6,8]

b = map(____________)
list(b)

#### Solution: Map

In [ ]:
f = lambda x,y:10*x+y
x = [0,1,2,3]
y = [2,4,6,8]

b = map(f,x,y)
list(b)

### Filter

Another advantage of using a lambda is the filter() function.<br>
<pre> filter (<b>lambda</b>, list)</pre>
It is an elegant way to filter out the required elements from a list

In [ ]:
fib = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55] 
list(filter(lambda x: x > 8, fib))

In [ ]:
fib = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55] 
list(filter(lambda x: x < 8, fib))

In [ ]:
signals = ['Buy', 'Sell', 'Sell', 'Buy', 'Buy', 'Sell', 'Buy'] 
list(filter(lambda x: x == 'Buy', signals))

### Activity: Filter

Using filter to remove all the negative values in  
x = [0,1,-4, 2,-6,3]

In [ ]:
x = [0,1,-4, 2,-6,3]

b = filter(___________)
list(b)

### Solution: Filter

In [ ]:
x = [0,1,-4, 2,-6,3]

b = filter(lambda x:x>=0,x)
list(b)

### Modules and Packages

Any file in Python which has a .py extension can be a module. A module can consist of arbitrary objects, classes, attributes or functions which can be imported by users.

### Importing Modules

There are different ways to import modules. Let us begin by importing the 'math' module.

In [ ]:
import math

print(math.sin(0.5))
print(math.pi)

In [ ]:
import math as mt
m.sin(0.5)

In [ ]:
from math import *
sin(0.5)

In [ ]:
from math import sin,pi
sin(pi/2)

In [ ]:
import time

print(sin(pi/2))
time.sleep(10)
print(cos(pi/2))

In [ ]:
import random
die = random.choice([1,2,3,4,5,6])
die

In [ ]:
import urllib.request
with urllib.request.urlopen('http://python.org/') as f:
   html = f.read()
print(html)

### Installing Python Packages
In the previous units, you have learned and practised how to import a python package. Built-in packages such as Pandas, NumPy are available by default in Python. 

But there are a lot more other packages publically available you might want to use. If you try to import such packages without installing them first you would get an error called 'ModuleNotFoundError'.

### Install package using pip

Pip, a package installer, is used to install and manage packages that are available in Python Package Index (PyPi) which is a repository for Python packages.

It is a recommended tool as most of the python packages are made available through PyPi. Pip is installed along when you install Python in your system. You need not worry about downloading or installing pip exclusively.

To install the package in a Jupyter notebook, you can use the following command.

`!pip install package_name`

To install the package in a command prompt or Spyder, you can use the below command.

`pip install package_name`

In [ ]:
!pip install numpy
!pip install matplotlib
!pip install pandas
!pip install yfinance

#### Pandas Demo: Import Stock Data from CSV File

In [ ]:
import pandas as pd

stock = pd.read_csv('https://raw.githubusercontent.com/tertiarycourses/datasets/master/Singtel.csv')
stock.head()

In [ ]:
# Preparing Data to visualise

stock_close =stock[['Date'tr, 'Close']]  # The columns which we require
stock_close.set_index('Date', inplace=True)  # Setting index as date

# More on this in the upcoming section on 'Pandas'
stock_close

#### Matplotlib Demo: Visualize Stock Price History

In [ ]:
import matplotlib.pyplot as plt

# This customizes the size of the plot as per the inputs. Here 14,5 represents the breadth and length of the plot.
plt.figure(figsize=(14, 5))

# This helps in plotting the blue color of the ‘infy_close’ series line graph.
plt.plot(stock_close, 'b')
# plt.plot (infy_close, 'g') # to plot green color

# This helps in plotting the discrete red data points of the closing prices of ‘infy_close’ series.
plt.plot(stock_close, 'ro')
# Here ‘r’ stands for ‘red’ and ‘o’ stands for circles while plotting our discrete data points.
# That is why the points are colored red and the default line color is blue.

# This gives a grid layout to the plot.
plt.grid(True)

# This gives the title to the plot.
plt.title('Singtel Close Price Representation')

# This labels the x-axis
plt.xlabel('Trading Days')

# This labels the y-axis
plt.ylabel('Singtel Close Price')


# To plot and visualise the data
plt.show()

#### Yahoo Finance Demo

In [ ]:
import yfinance as yf
stock = yf.download('Z74.SI', start="2017-01-01", end="2021-11-30")
stock.tail()

In [ ]:
# Preparing Data to visualise

stock_close =stock[['Close']]  # The columns which we require

stock_close.tail()

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

# This customizes the size of the plot as per the inputs. Here 14,5 represents the breadth and length of the plot.
plt.figure(figsize=(14, 5))

# This helps in plotting the blue color of the ‘infy_close’ series line graph.
plt.plot(stock_close, 'b')
# plt.plot (infy_close, 'g') # to plot green color

# This helps in plotting the discrete red data points of the closing prices of ‘infy_close’ series.
plt.plot(stock_close, 'ro')
# Here ‘r’ stands for ‘red’ and ‘o’ stands for circles while plotting our discrete data points.
# That is why the points are colored red and the default line color is blue.

# This gives a grid layout to the plot.
plt.grid(True)

# This gives the title to the plot.
plt.title('Singtel Close Price Representation')

# This labels the x-axis
plt.xlabel('Trading Days')

# This labels the y-axis
plt.ylabel('Close Price')


# To plot and visualise the data
plt.show()

#Topic 5 Import and Process Finance Data

`pandas` like `NumPy` is a key constituent of the scientific computing framework in Python.
It's a powerful tool which can perform data manipulation and other excel like operations at high speed. 

To give you a sense of how comprehensive it is, the [official documentation](https://pandas.pydata.org/pandas-docs/stable/) of `pandas` is over 3000 pages!

**`pandas` is built on top of NumPy.** Many of the more sophisticated statistical libraries such as `statsmodels` and `scikit-learn` in turn are built on top of `pandas`. Thus there is a **high degree of compatibility** among these libraries.<br><br>
Two of the most important data structures in `pandas` that we will extensively use are `Series` and `DataFrame`.

### Install Python Data Analysis Packages

In [ ]:
# These packagss have been pre-installed on Google Colab
!pip install numpy
!pip install matplotlib
!pip install seaborn
!pip install pandas
!pip install scipy
!pip install sklearn
!pip install yfinance

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import pandas as pd
import sklearn
import yfinance as yf

### Series

In Python, understanding Series is a natural predecessor to understanding dataframes.

Series are indexed data frame with only one data column. It is easier to understand them first before moving to study complex data frames.

A series is a one-dimensional labelled 'array-like' object. The labels are nothing but the index of the data. 

A series is a special case of a two-dimensional array, which has only 2 columns- one column is for the index and the other column is for data.

In [ ]:
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
mkt_cap =[82.54,2.52,8.39,51.24,10.11,40.29,11.80,16.70,45.14,5.49,26.76,5.20]

s = pd.Series(mkt_cap, index=stock_list)
print(s)
type(s)

In [ ]:
s.plot.barh()

##### <span style="color:black">Series.index</span>

It is useful to know the range of the index when the series is large.

In fact, **`Series` are like Python dictionaries**, with the index being analogous to the `keys`  and the actual data equivalent to `values`. Even the syntax is similar to Python dictionaries.

In [ ]:
s.index

##### <span style="color:black">Series.values</span>
It returns the values of the series.

In [ ]:
s.values

#### Activity: Series

- Create a Pandas Series for the average buy price with stocks as index
- Plot the stock price vs stock list

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
sector = ['Finance','Healthcare','Transport','Finance','Finance','Technology','Technology',\
              'Food','Finance','Finance','Food','Transport']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,3.78,0.66,26.61,18.68,4.15,1.30]
mkt_cap =[82.54,2.52,8.39,51.24,10.11,40.29,11.80,16.70,45.14,5.49,26.76,5.20]

s = _____________
s.plot.barh()
plt.xlabel('stock price')

#### Solution: Series

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
sector = ['Finance','Healthcare','Transport','Finance','Finance','Technology','Technology',\
              'Food','Finance','Finance','Food','Transport']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,3.78,0.66,26.61,18.68,4.15,1.30]
mkt_cap =[82.54,2.52,8.39,51.24,10.11,40.29,11.80,16.70,45.14,5.49,26.76,5.20]

s = pd.Series(avg_price, index=stock_list)
s.plot.barh()
plt.xlabel('stock price')

### DataFrame

The underlying idea of a dataframe is based on 'spreadsheets'. In other words, dataframes store data in discrete rows and columns, where each column can be named (something that is not possible in Arrays but is possible in Series). There are also multiple columns in a dataframe (as opposed to Series, where there can be only one discrete indexed column).

We can think of `DataFrame` like an Excel sheet with **multiple columns of data along with its index**, where each column is capable of handling different data types. In other words, it is a **two-dimensional labelled data container.**

In [ ]:
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,3.78,0.66,26.61,18.68,4.15,1.30]

my_portfolio = {
    "stock_name": stock_list,
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price
}

my_portfolio_df = pd.DataFrame(my_portfolio)
my_portfolio_df

### Customize index of the dataframe 

In the above output, you can see that the 'index' is the default one which starts from 0. One can customize this index.

In [ ]:
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,3.78,0.66,26.61,18.68,4.15,1.30]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price
}

my_portfolio_df = pd.DataFrame(my_portfolio,index=stock_list)

my_portfolio_df

#### Reset Index

In [ ]:
# Use inplace=True to replace the original DataFrame. 
# If inplace=False, then a new Dataframe is created

my_portfolio_df.reset_index(inplace=True)
my_portfolio_df

# This is same a  
# my_portfolio_df = my_portfolio_df.reset_index()

#### Set Index

In [ ]:
my_portfolio_df.set_index('index',inplace=True)
my_portfolio_df

#### Rename columns
 
If we want to rename the column names, while dealing with the dataframe we need to use the rename function

In [ ]:
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,3.78,0.66,26.61,18.68,4.15,1.30]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price
}

my_portfolio_df = pd.DataFrame(my_portfolio,index=stock_list)

my_portfolio_df

In [ ]:
my_portfolio_df = my_portfolio_df.rename(columns={'quantity_owned':'qty','average_buy_price':'buy_price'})
my_portfolio_df

#### Rearrange the columns in a dataframe 

We can also define or change the order of columns.

In [ ]:
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,3.78,0.66,26.61,18.68,4.15,1.30]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price
}

my_portfolio_df = pd.DataFrame(my_portfolio,columns=["average_buy_price","quantity_owned"],index=stock_list)

my_portfolio_df

#### Dataframe Attributes

A DataFrame consists of three parts viz.
1. `index`
2. `columns`
3. `values`

In [ ]:
my_portfolio_df.info()

In [ ]:
my_portfolio_df.shape

In [ ]:
my_portfolio_df.columns

In [ ]:
my_portfolio_df.index

In [ ]:
my_portfolio_df['average_buy_price'].values

### Import CSV Data

In [ ]:
# Import CSV file

import numpy as np
import pandas as pd

stock = pd.read_csv('https://raw.githubusercontent.com/tertiarycourses/datasets/master/DBS.csv')
stock.tail()

In [ ]:
stock.set_index('Date', inplace=True) 
stock.tail()

In [ ]:
# Import CSV file

import numpy as np
import pandas as pd

stock = pd.read_csv('https://raw.githubusercontent.com/tertiarycourses/datasets/master/DBS.csv', index_col="Date")
stock.tail()

One of the great features about `pandas` is how it works so symbiotically with some of the other popular Python packages such as `NumPy` and `Matplotlib`. Under the hood, the `values` of the `pandas Series` and the `pandas Dataframe` objects are `NumPy ndarrays`. 

We will use `matplotlib` in conjunction with `pandas` to plot and visualize our data. You can read and learn more about it [here](https://matplotlib.org/api/pyplot_summary.html).

In [ ]:
import matplotlib.pyplot as plt

stock[['Adj Close','Close']].plot(figsize=(15,7)) 
plt.xlabel('Days')
plt.ylabel('Close Price')
plt.show()

#### Import Yahoo Finance Data

In [ ]:
# Import Yahoo Finance file

start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
stock = yf.download(ticker,start=start_date, end=end_date)
stock.tail()

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(14, 5))
stock[['Adj Close','Close']].plot(figsize=(15,7))
plt.xlabel('Days')
plt.ylabel('Close and Adj Close Price')
plt.show()

#### Activity: Import Finance Data

- Import Singtel stock data from the Yahoo Finance
- Plot the Singtel open and close date from 2017-01-01 to 2021-11-31

In [ ]:
start_date = _______________
end_date = _______________
ticker = ___________________
stock = _____________________
stock.tail()

In [ ]:
stock_close = _________________ 
stock_close.tail()

In [ ]:
import matplotlib.pyplot as plt

stock[['Adj Close','Close']].plot(figsize=(15,7))
plt.xlabel('Days')
plt.ylabel('Close and Adj Close Price')
plt.show()

#### Solution: Import Finance Data

In [ ]:
import yfinance as yf

start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'Z74.SI'
stock = yf.download(ticker,start=start_date, end=end_date)
stock.tail()

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(14, 5))
plt.plot(stock[['Adj Close','Close']])
plt.xlabel('Days')
plt.ylabel('Close and Adj Close Price')
plt.show()

### Access Row and Column in a dataframe

#### Selecting Column - You can access or retrieve a single or multiple columns by their names or by their location.

In [ ]:
my_portfolio_df

In [ ]:
my_portfolio_df["quantity_owned"]

In [ ]:
my_portfolio_df.quantity_owned

In [ ]:
my_portfolio_df[["quantity_owned","average_buy_price"]]

#### Selecting Row

There are two  key ways by which we select rows of our dataset for further analysis.
* Using the label based indexing operator `.loc[]` 
* Using the integer based indexing operator`.iloc[]`

In [ ]:
# loc method - It selects data based on the **'label'** of the rows and columns. Also, it can simultaneously select subsets of rows and columns.
my_portfolio_df.loc['OCBC']

In [ ]:
# iloc method - It selects data based on the integer locations of the rows and columns. Very similar to the .loc[] operator. 
# One difference is that .loc includes the last value of index when slicing, whereas .iloc excludes it like the rest of Python.

my_portfolio_df.iloc[3]

In [ ]:
my_portfolio_df.loc[['DBS','OCBC','UOB']]

In [ ]:
my_portfolio_df.iloc[[3,5,7]]

In [ ]:
my_portfolio_df.iloc[3:7]

#### Activity: Selecting Row and Column

- Import the Singtel stock data from Yahoo FInance from 2017 to 2021
- Select the Close and Open price from 2021-11-15 to 2021-11-30

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'Z74.SI'
stock = yf.download(ticker,start=start_date, end=end_date)

stock.loc[___________________]

#### Solution: Selecting Row and Column

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'Z74.SI'
stock = yf.download(ticker,start=start_date, end=end_date)

stock[['Close','Open']].loc['2021-11-15':'2021-11-30']
# Alternative solution
# stock.loc['2021-11-15':'2021-11-30'][['Close','Open']]

### Sort Column

Sometimes it becomes necessary to sort a stock price dataframe, based on the 'Closing Price'.

In [ ]:
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,3.78,0.66,26.61,18.68,4.15,1.30]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price
}

my_portfolio_df = pd.DataFrame(my_portfolio,columns=["average_buy_price","quantity_owned"],index=stock_list)

In [ ]:
my_portfolio_df = my_portfolio_df.sort_values(by="quantity_owned", ascending=False)
my_portfolio_df

#### Activity: Sort Data

- Sort the data by market cap 
- List the top five stocks with highest market cap

In [ ]:
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,3.78,0.66,26.61,18.68,4.15,1.30]
mkt_cap =[82.54,2.52,8.39,51.24,10.11,40.29,11.80,16.70,45.14,5.49,26.76,5.20]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price,
    'market_cap':mkt_cap
}

my_portfolio_df = pd.DataFrame(my_portfolio,columns=_______________________,index=stock_list)
my_portfolio_df

In [ ]:
my_portfolio_df = my_portfolio_df.sort_values(___________________)
my_portfolio_df

In [ ]:
my_portfolio_df.iloc[_____________]

#### Solution: Sort Data

In [ ]:
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,3.78,0.66,26.61,18.68,4.15,1.30]
mkt_cap =[82.54,2.52,8.39,51.24,10.11,40.29,11.80,16.70,45.14,5.49,26.76,5.20]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price,
    'market_cap':mkt_cap
}

my_portfolio_df = pd.DataFrame(my_portfolio,columns=["average_buy_price","quantity_owned","market_cap"],index=stock_list)
my_portfolio_df

In [ ]:
my_portfolio_df = my_portfolio_df.sort_values(by="market_cap", ascending=False)
my_portfolio_df

In [ ]:
my_portfolio_df.iloc[:5]

### Filter Data

In [ ]:
my_portfolio_df[my_portfolio_df['market_cap']>20]

In [ ]:
# Another way is to use df.query
my_portfolio_df.query('market_cap<100 and market_cap>20')

In [ ]:
my_portfolio_df[(my_portfolio_df["market_cap"] > 20) & (my_portfolio_df["quantity_owned"] < 1000)]

In [ ]:
my_portfolio_df[my_portfolio_df["quantity_owned"] == 1000]

In [ ]:
my_portfolio_df.loc[["DBS", "UOB"], :]

#### Activity: Filtering Data

Filter the stock data with the following criteria:
market capitalization more than 10
stock quantity less than 500
stock price is below $10

In [ ]:
my_portfolio_df[(my_portfolio_df[_________________________]

#### Solution: Filtering Data

In [ ]:
my_portfolio_df[(my_portfolio_df["market_cap"] > 10) & (my_portfolio_df["quantity_owned"] < 500) & (my_portfolio_df["average_buy_price"] < 10)]

### Clean Data

#### Check Missing Data

This method returns a Boolean result.<br>
<br>
It will return 'True' if the data point has a 'NaN' (Not a Number) value. Missing data is represented by a NaN value.

In [ ]:
import numpy as np
NaN = np.nan

stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
stock_qty = [300,NaN,200,800,300,3000,1000,NaN,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,NaN,0.66,26.61,18.68,NaN,1.30]
mkt_cap =[82.54,2.52,8.39,51.24,10.11,40.29,11.80,16.70,45.14,5.49,26.76,5.20]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price,
    'market_cap':mkt_cap
}

my_portfolio_df = pd.DataFrame(my_portfolio,columns=["average_buy_price","quantity_owned","market_cap"],index=stock_list)
my_portfolio_df

In [ ]:
my_portfolio_df.isnull()

#### Remove Missing Data

This method remove the missing data

In [ ]:
my_portfolio_df.dropna()

#### Impute Missing Sata

The .fillna() method will fill all the 'NaN' values of the entire dataframe or of the requested columns with a scalar value of your choice.

In [ ]:
import numpy as np
NaN = np.nan

stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
stock_qty = [300,NaN,200,800,300,3000,1000,NaN,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,NaN,0.66,26.61,18.68,NaN,1.30]
mkt_cap =[82.54,2.52,8.39,51.24,10.11,40.29,11.80,16.70,45.14,5.49,26.76,5.20]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price,
    'market_cap':mkt_cap
}

my_portfolio_df = pd.DataFrame(my_portfolio,columns=["average_buy_price","quantity_owned","market_cap"],index=stock_list)
my_portfolio_df

In [ ]:
my_portfolio_df.fillna(0)

In [ ]:
my_portfolio_df.fillna(method='pad')

In [ ]:
my_portfolio_df.fillna(method='backfill')

#### Activity: Clean Data

- Check for dataframe for missing data 
- Impute the missing data with 'pad' or 'backfill'

In [ ]:
NaN = np.nan
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,NaN,20.95,11.39,9.07,2.38,NaN,0.66,26.61,18.68,4.15,1.30]
mkt_cap =[82.54,2.52,8.39,51.24,NaN,40.29,11.80,16.70,45.14,5.49,NaN,5.20]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price,
    'market_cap':mkt_cap
}

my_portfolio_df = pd.DataFrame(my_portfolio,columns=["average_buy_price","quantity_owned","market_cap"],index=stock_list)
my_portfolio_df

In [ ]:
my_portfolio_df._________________

In [ ]:
my_portfolio_df.________________________

#### Solution: Clean Data

In [ ]:
NaN = np.nan
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,NaN,20.95,11.39,9.07,2.38,NaN,0.66,26.61,18.68,4.15,1.30]
mkt_cap =[82.54,2.52,8.39,51.24,NaN,40.29,11.80,16.70,45.14,5.49,NaN,5.20]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price,
    'market_cap':mkt_cap
}

my_portfolio_df = pd.DataFrame(my_portfolio,columns=["average_buy_price","quantity_owned","market_cap"],index=stock_list)
my_portfolio_df

In [ ]:
my_portfolio_df.isnull()

In [ ]:
my_portfolio_df.fillna(method='backfill')

#Topic 6 Aggregate and Visualize Finance Data

### Add New Computed Column

In [ ]:
# Import Yahoo Finance file

start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
stock = yf.download(ticker,start=start_date, end=end_date)
stock.head()

In [ ]:
# Computing the percentage change between today's Close and Open

stock['intraday_return'] = 100 * (stock['Close'] / stock['Open'] - 1) 
stock.head()

#### Percentage change calculations

In [ ]:
# Computing the percentage change between today's Close and previous day's Close using the method pct_change()

stock['Close_Pct_Change'] = 100 * stock['Close'].pct_change()
stock.head()

#### The shift operator

The shift operator **time-shifts the specified columns either forward or backward by the # of steps specified.** 
Here shift(1) brings the Close price column down by one step. The shift operator is helpful in making 
vectorized operations possible in certain cases.

In [ ]:
# Creating a new column called 'Previous_Close' by using the shift operator on Close column.

stock['Previous_Close'] =  stock['Close'].shift()
stock.head()

In [ ]:
# Calculating the percentage return between previous close and today's open

stock['simple_return'] = 100*(stock['Close']/stock['Close'].shift(1)-1)
stock.head()

In [ ]:
stock['log_return'] = np.log(stock['Close'] / stock['Close'].shift(1))
stock.head()

In [ ]:
# Calculating the percentage return between previous close and today's open

stock['overnight_return'] = 100*(stock['Open']/stock['Previous_Close']-1)
stock.head()

#### Moving Average calculations using .rolling()

In [ ]:
# Import Yahoo Finance file

start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
stock = yf.download(ticker,start=start_date, end=end_date)
stock.head()

In [ ]:
# Creting a new column called 'MA' containing 5 day Moving Average of Close prices.

stock['MA_5'] = stock['Close'].rolling(window=5).mean()
stock.head(10)

#### Working with missing/NaN values

In [ ]:
stock.dropna(inplace=True)
stock.head()

### Joining Data

#### Concat Data

In [ ]:
start_date = '2017-01-01'
end_date = '2018-12-31'
ticker = 'Z74.SI'
stock1 = yf.download(ticker,start=start_date, end=end_date)
stock1.tail()

In [ ]:
start_date = '2019-01-01'
end_date = '2021-11-30'
ticker = 'Z74.SI'
stock2 = yf.download(ticker,start=start_date, end=end_date)
stock2.tail()

In [ ]:
stock3 = pd.concat([stock1,stock2],axis=0)

In [ ]:
stock3.head()

In [ ]:
stock3.tail()

#### Append Data

In [ ]:
start_date = '2017-01-01'
end_date = '2018-12-31'
ticker = 'Z74.SI'
stock1 = yf.download(ticker,start=start_date, end=end_date)
stock1.tail()

In [ ]:
start_date = '2020-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
stock2 = yf.download(ticker,start=start_date, end=end_date)
stock2.tail()

In [ ]:
stock3 = stock1.append(stock2)

In [ ]:
stock3.head()

In [ ]:
stock3.tail()

#### Activity: Joining Data

- Import the DBS stock data from 2017-01-01 to 2019-12-31
- Import another DBS stock data from 2020-01-01 to 2021-11-30
- Join the two data sets from 2017-01-01 to 2021-11-30

In [ ]:
start_date = __________
end_date = ________
ticker = ___________'
stock1 = yf.download(ticker,start=start_date, end=end_date)
stock1.tail()

In [ ]:
start_date = __________
end_date = ________
ticker = ___________'
stock2 = yf.download(ticker,start=start_date, end=end_date)
stock2.tail()

In [ ]:
stock3 = _______________________

In [ ]:
stock3.tail()

In [ ]:
stock3.head()

#### Solution: Joining Data

In [ ]:
start_date = '2017-01-01'
end_date = '2019-12-31'
ticker = 'D05.SI'
stock1 = yf.download(ticker,start=start_date, end=end_date)
stock1.tail()

In [ ]:
start_date = '2020-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
stock2 = yf.download(ticker,start=start_date, end=end_date)
stock2.tail()

In [ ]:
stock3 = pd.concat([stock1,stock2],axis=0)

In [ ]:
stock3.tail()

In [ ]:
stock3.head()

#### Merging Data

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
left

In [ ]:
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K4'],
                      'C': ['C0', 'C1', 'C2', 'C4'],
                      'D': ['D0', 'D1', 'D2', 'D4']})
right

In [ ]:
result = pd.merge(left, right, on='key')
result

In [ ]:
inner = pd.merge(left, right, on='key',how='inner')
inner

In [ ]:
outer = pd.merge(left, right, on='key',how='outer')
outer

In [ ]:
left = pd.merge(left, right, on='key',how='left')
left

In [ ]:
right  = pd.merge(left, right, on='key',how='right')
right

#### Activiity: Merging Data

- Import the DBS stock data from 2017-01-01 to 2019-12-31
- Import another DBS stock data from 2019-01-01' to 2021-11-30
- Merge the two data sets on Date using inner join

In [ ]:
start_date = '2017-01-01'
end_date = '2019-12-31'
ticker = 'D05.SI'
stock1 = yf.download(ticker,start=start_date, end=end_date)
stock1.tail()

In [ ]:
start_date = '2019-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
stock2 = yf.download(ticker,start=start_date, end=end_date)
stock2.tail()

In [ ]:
stock3 = pd.merge(stock1, stock2, on='Date',how='inner')
stock3.head()

#### Solution: Merging Data

In [ ]:
start_date = '2017-01-01'
end_date = '2019-12-31'
ticker = 'D05.SI'
stock1 = yf.download(ticker,start=start_date, end=end_date)
stock1.tail()

In [ ]:
start_date = '2019-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
stock2 = yf.download(ticker,start=start_date, end=end_date)
stock2.tail()

In [ ]:
stock3 = pd.merge(stock1, stock2, on='Date',how='inner')
stock3.head()

### Grouping Data and Aggregation

Any groupby operation involves one of the following operations on the original dataframe/object. They are:
<br>
1. <b>Splitting</b> the data into groups based on some criteria.<br>
<br>
2. <b>Applying</b> a function to each group separately.<br>
<br>
3. <b>Combining</b> the results into a single dataframe.<br>
<br>
Splitting the data is pretty straight forward. What adds value to this split is the 'Apply' step. This makes 'Groupby' function interesting. In the apply step, you may wish to do one of the following: <br>
<br>
a. Aggregation − Computing a summary statistic. Eg: Compute group sums or means.<br>
<br>
b. Transformation − performs some group-specific operation. Eg: Standardizing data (computing z-score) within the group.<br> 
<br>
c. Filtration − discarding the data with some condition.<br> 
<br>
Let us now create a DataFrame object and perform all the operations on it.

In [ ]:
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
sector = ['Finance','Healthcare','Transport','Finance','Finance','Technology','Technology',\
              'Food','Finance','Finance','Food','Transport']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,3.78,0.66,26.61,18.68,4.15,1.30]
mkt_cap =[82.54,2.52,8.39,51.24,10.11,40.29,11.80,16.70,45.14,5.49,26.76,5.20]
position =["Buy","Sell","Sell","Sell","Buy","Buy","Buy","Sell","Buy","Sell","Buy","Sell"]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price,
    'market_cap':mkt_cap,
    'sector':sector,
    'position': position
}

my_portfolio_df = pd.DataFrame(my_portfolio,columns=["average_buy_price","quantity_owned","market_cap","sector","position"],index=stock_list)
my_portfolio_df

In [ ]:
my_portfolio_df.groupby('sector').count()

In [ ]:
my_portfolio_df.groupby('sector').market_cap.mean()

In [ ]:
my_portfolio_df.groupby(['sector','quantity_owned']).mean()

In [ ]:
my_portfolio_df.groupby('sector').sum()

In [ ]:
my_portfolio_df.groupby('sector').agg(['count', 'mean','sum'])

In [ ]:
my_portfolio_df.groupby('sector').agg(lambda x:max(x)-min(x))

### Activitiy: Groupby

Compute the total number of stocks purchased for each sector.

In [ ]:
my_portfolio_df.groupby(____________)[____________]._____________)

### Solution: Groupby

In [ ]:
my_portfolio_df.groupby('sector')['quantity_owned'].sum()

#### Pivoting Data

In [ ]:
my_portfolio_df.pivot(values="quantity_owned", columns="position")

In [ ]:
pd.pivot_table(my_portfolio_df, values="quantity_owned", \
               aggfunc="sum",index=["sector"], columns=["position"])

#### Activity: Pivot Table

Create a pivot table and compute the average buy price for each sector

In [ ]:
pd.pivot_table(_______________________)

#### Solution: Pivot Table

In [ ]:
pd.pivot_table(my_portfolio_df, values="average_buy_price", \
               aggfunc="mean",index=["sector"], columns=["position"])

## Visualization

#### Line Plot

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
dbs = yf.download(ticker,start=start_date, end=end_date)

In [ ]:
dbs['Close'].plot()
plt.ylabel('Close Price')

#### Activity: Scatter Plot

- Download the Singtel and DBS historical stock market price
- Create a scatter plot between Singtel and DBS closing stock price.

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
dbs = yf.download(ticker,start=start_date, end=end_date)
dbs = dbs['Close']

start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'Z74.SI'
singtel = yf.download(ticker,start=start_date, end=end_date)
singtel = singtel['Close']

df = pd.DataFrame(_______________)
df.plot.____________________________

#### Solution: Scatter Plot

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
dbs = yf.download(ticker,start=start_date, end=end_date)
dbs = dbs['Close']

start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'Z74.SI'
singtel = yf.download(ticker,start=start_date, end=end_date)
singtel = singtel['Close']

df = pd.DataFrame({'dbs_stock':dbs,'singtel_stock':singtel})
df.plot.scatter(x="dbs_stock", y="singtel_stock",alpha=0.5)

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
dbs = yf.download(ticker,start=start_date, end=end_date)
dbs = dbs['Close']

start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'U11.SI'
uob = yf.download(ticker,start=start_date, end=end_date)
uob = uob['Close']

df = pd.DataFrame({'dbs_stock':dbs,'uob_stock':uob})
df.plot.scatter(x="dbs_stock", y="uob_stock",alpha=0.5)

#### Bar Plot

In [ ]:
# data = pd.read_csv('https://raw.githubusercontent.com/tertiarycourses/datasets/master/gst-by-economic-sector.csv')
# data
my_portfolio_df.pivot(values="quantity_owned", columns="sector").plot.bar()

In [ ]:
data.groupby('economic_sector')['no_of_businesses'].sum().plot.barh()
plt.xlabel('No of Business')

#### Activity: Bar Plot

- Import the economic data from https://raw.githubusercontent.com/tertiarycourses/datasets/master/gst-by-economic-sector.csv
- Create a bar plot of # of businesses for each year

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/tertiarycourses/datasets/master/gst-by-economic-sector.csv')
data.groupby(___________________)
plt.xlabel('No of Business')

#### Solution: Bar Plot

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/tertiarycourses/datasets/master/gst-by-economic-sector.csv')
data.groupby(['financial_year'])['no_of_businesses'].sum().plot.barh()
plt.xlabel('No of Business')

#### Stacked Bar Plot

In [ ]:
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
sector = ['Finance','Healthcare','Transport','Finance','Finance','Technology','Technology',\
              'Food','Finance','Finance','Food','Transport']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,3.78,0.66,26.61,18.68,4.15,1.30]
mkt_cap =[82.54,2.52,8.39,51.24,10.11,40.29,11.80,16.70,45.14,5.49,26.76,5.20]
position =["Buy","Sell","Sell","Sell","Buy","Buy","Buy","Sell","Buy","Sell","Buy","Sell"]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price,
    'market_cap':mkt_cap,
    'sector':sector,
    'position': position
}

my_portfolio_df = pd.DataFrame(my_portfolio,columns=["average_buy_price","quantity_owned","market_cap","sector","position"],index=stock_list)
my_portfolio_df

In [ ]:
pd.pivot_table(my_portfolio_df, values="quantity_owned", \
               aggfunc="sum",index="position",columns="sector").plot.bar()

plt.ylabel('stock quality')

In [ ]:
pd.pivot_table(my_portfolio_df, values="quantity_owned", \
               aggfunc="sum",index="position",columns="sector").plot.bar(stacked=True)

plt.ylabel('stock quality')

### Pie Plot

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/tertiarycourses/datasets/master/gst-by-economic-sector.csv')

plt.figure(figsize=(10,10))
data.groupby(['economic_sector'])['no_of_businesses'].sum().plot.pie()
plt.ylabel('')

### Boxplot

In [ ]:
my_portfolio_df.pivot(columns='sector',values='average_buy_price').plot.box()

### Area Plot

In [ ]:
pd.pivot_table(my_portfolio_df, values="average_buy_price", \
               aggfunc="mean",index="sector",columns="position").plot.area()

### Histogram

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
dbs = yf.download(ticker,start=start_date, end=end_date)
dbs.Close.plot.hist(bins=25)
plt.xlabel('Stock Price')

### Activity: Histogram

- Download the Singtel historical stock price from Yahoo Finance.
- Plot a histogram of Singtel Close stock price

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'Z74.SI'
singtel = yf.download(ticker,start=start_date, end=end_date)
singtel.____________________________
plt.xlabel('Stock Price')

### Solution: Histogram

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'Z74.SI'
singtel = yf.download(ticker,start=start_date, end=end_date)
singtel.Close.plot.hist(bins=25)
plt.xlabel('Stock Price')

## Topic 2.4 Data Analysis

#### Descriptive Statistics

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'Z74.SI'
stock = yf.download(ticker,start=start_date, end=end_date)

stock.Close.describe()

#### DataFrame.count()

This method returns the number of non-null observations over the requested observations.

In [ ]:
stock.count()

#### DataFrame.min()

This method returns the minimum value over the requested observations

In [ ]:
stock.min()

#### DataFrame.max()

This method returns the maximum value over the requested observations.

In [ ]:
stock.max()

#### DataFrame.mean()

The mean of a set of observations is the arithmetic average of the values. 

This method returns the mean of the requested observations.

In [ ]:
stock.mean()

#### DataFrame.median()

The median is a statistical measure that determines the middle value of a dataset listed in ascending order.

This method returns the median of the requested observations.

In [ ]:
stock.median()

#### DataFrame.mode()

The mode is the value that appears most frequently in a data set. 

This method returns the mode of the requested observations.

In [ ]:
stock.mode()

#### DataFrame.sum()

This method returns the sum of all the values of the requested observations.

In [ ]:
stock.sum()

#### DataFrame.diff()

This method returns the 'difference' between the current observation and the previous observation.

In [ ]:
stock.diff()

#### DataFrame.pct_change()]

This method returns the percentage change of the current observation with the previous observation.

In [ ]:
stock.pct_change()

#### DataFrame.var()

Variance is a statistical measurement of the spread between numbers in a data set.

This method returns the variance of the requested observations.

In [ ]:
stock.var()

#### DataFrame.std()

Standard deviation is a statistical measure that measures the dispersion of a dataset relative to its mean.


This method returns the standard deviation of the requested observations.

In [ ]:
stock.std()

#### DataFrame.rolling(window=).mean()

A moving average(also known as rolling average) is a calculation used to analyze data points by creating a series of averages of different subsets of the full data set. It is commonly used as a technical indicator.

This method helps us to calculate the moving average of the observations.

In [ ]:
import matplotlib.pyplot as plt

stock['Close'].plot(figsize=(17,8))
stock["Close"].rolling(window=10).mean().plot(figsize=(17,8))
stock["Close"].rolling(window=100).mean().plot(figsize=(17,8))
plt.show()

#### DataFrame.ewm(span=).mean()
Exponential Moving Average

In [ ]:
import matplotlib.pyplot as plt

stock['Close'].plot(figsize=(17,8))
stock["Close"].ewm(span=10,).mean().plot(figsize=(17,8))
stock["Close"].ewm(span=100).mean().plot(figsize=(17,8))
plt.show()

#### Activitiy: Rolling Window Average

- Import the Singtel stock close data from Yahoo from 2017 to 2021
- Overlay the raw data, rolling window, expanding window

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
dbs = yf.download(ticker,start=start_date, end=end_date)

In [ ]:
plt.figure(figsize=(10,5))
dbs['Close'].plot()
dbs['Close']._____________________________
dbs['Close'].________________________
plt.show()

#### Solution: Rolling Window Average

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
dbs = yf.download(ticker,start=start_date, end=end_date)

In [ ]:
plt.figure(figsize=(10,5))
dbs['Close'].plot()
dbs['Close'].rolling(window=20).mean().plot()
dbs['Close'].expanding(min_periods=10).mean().plot()
plt.show()

#### DataFrame.cov()

Covariance is a statistical measure that is used to determine the relationship between the movement of two asset prices.

This method returns the covariance between the closing price of the DBS stock with the closing price of the UOB stock.

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
dbs = yf.download(ticker,start=start_date, end=end_date)

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'U11.SI'
uob = yf.download(ticker,start=start_date, end=end_date)

In [ ]:
dbs["Close"].cov(uob["Close"])

#### DataFrame.corr()

Correlation is a statistical measure that expresses the extent to which two variables are linearly related.

This method returns the correlation between the closing price of the DBS stock with the closing price of the UOB stock.

In [ ]:
dbs["Close"].corr(uob["Close"])

#### Activity: Covariance and Correlation

- Import the DBS and Singtel stock close data from Yahoo from 2017 to 2021
- Compute the covariance and correlation between DBS and Singtel stock closing price

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
dbs = yf.download(ticker,start=start_date, end=end_date)

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'Z74.SI'
singtel = yf.download(ticker,start=start_date, end=end_date)

In [ ]:
dbs["Close"]._______________________

In [ ]:
dbs["Close"].____________________

#### Solution: Covariance and Correlation

In [ ]:
dbs["Close"].cov(singtel["Close"])

In [ ]:
dbs["Close"].corr(singtel["Close"])

#### DataFrame.kurt()

Kurtosis is a statistical measure that defines how heavily the tails of a distribution differ from the tails of a normal distribution.

This method returns unbiased kurtosis over the requested data set using Fisher's definition of kurtosis (where kurtosis of normal distribution = 0)

A negative kurtosis value indicates a platykurtic distribution. Such a distribution will have thinner tails, resulting in fewer extreme positive or negative events.

In [ ]:
dbs["Close"].kurt()

#### DataFrame.skew()

In statistics, skewness is a measure of the asymmetry of the distribution of a variable about its mean.

This method unbiased skew over the requested data set.

In [ ]:
dbs["Close"].skew()

# Topic 7 Analyze Finance Data

### Apply

In [ ]:
# Import Yahoo Finance file

start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
stock = yf.download(ticker,start=start_date, end=end_date)
stock.head()

In [ ]:
# Creating a function to calculate the intraday range
def daily_range(x):
    return x['Close']-x['Open']

In [ ]:
# Creating a new column by applying the function we defined above to the DataFrame df
stock['daily_range'] = stock.apply(daily_range, axis=1)
stock.head()

In [ ]:
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
sector = ['Finance','Healthcare','Transport','Finance','Finance','Technology','Technology',\
              'Food','Finance','Finance','Food','Transport']
dividend = ['Yes','No','No','Yes','No','Yes','No',\
              'Yes','No','No','No','Yes']            
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,3.78,0.66,26.61,18.68,4.15,1.30]
mkt_cap =[82.54,2.52,8.39,51.24,10.11,40.29,11.80,16.70,45.14,5.49,26.76,5.20]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price,
    'market_cap':mkt_cap,
    'sector':sector,
    'dividend':dividend
}

my_portfolio_df = pd.DataFrame(my_portfolio,columns=["average_buy_price","quantity_owned","market_cap","sector","dividend"],index=stock_list)
my_portfolio_df

In [ ]:
SGD2USD = 1.4
my_portfolio_df['average_buy_price'] = my_portfolio_df['average_buy_price'].apply(lambda x:x/SGD2USD)
my_portfolio_df

#### Activity: Apply

In [ ]:
# Import Yahoo Finance file

start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
stock = yf.download(ticker,start=start_date, end=end_date)
stock.head()

In [ ]:
def Direction(x):
    ______

In [ ]:
stock['Direction'] = stock.__________
stock.head()

#### Solution: Apply

In [ ]:
# Import Yahoo Finance file

start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
stock = yf.download(ticker,start=start_date, end=end_date)
stock.head()

In [ ]:
def Direction(x):
    if x['Close']>x['Open']:
        return 'Up'
    else:
      return 'Down'

In [ ]:
stock['Direction'] = stock.apply(Direction,axis=1)
stock.head()

### Pipe

In [ ]:
start_date = '2017-01-01'
end_date = '2019-12-31'
ticker = 'D05.SI'
dbs = yf.download(ticker,start=start_date, end=end_date)
dbs

In [ ]:
dbs.loc['2019-01-01':'2019-12-30']

In [ ]:
def load_data(ticker, start_date,end_date):
    return yf.download(ticker,start=start_date, end=end_date)

In [ ]:
dbs = load_data('D05.SI','2021-01-01','2021-11-30')
dbs

In [ ]:
def filter_data(df):
    start = '2021-01-01'
    end = '2021-06-01'
    return df.loc[start:end]

In [ ]:
dbs_filtered = filter_data(dbs)
dbs_filtered

In [ ]:
def plotbar(df):
    df['Close'].plot()
    plt.xlabel('Days')
    plt.ylabel('Price')

In [ ]:
plotbar(dbs_filtered)

In [ ]:
dbs_pipe =(
    load_data('D05.SI','2021-01-01','2021-11-30')
    .pipe(filter_data)
    .pipe(plotbar)
)

#### Activity: Pipe

- Create a pipe to load the UOB stock data from Yahoo Finance
- Filter only the Open and Close data
- Plot the Open and Close data

In [ ]:
def load_data(ticker, start_date,end_date):
    _____________________
    return stock

In [ ]:
def plotbar(df):
    __________________

In [ ]:
uob_pipe =(
    ____________________
)

#### Solutoin: Pipe

In [ ]:
def load_data(ticker, start_date,end_date):
    stock = yf.download(ticker,start=start_date, end=end_date)
    stock = stock[['Open','Close']]
    return stock

In [ ]:
def plotbar(df):
    df.plot()
    plt.xlabel('Days')
    plt.ylabel('Price')

In [ ]:
uob_pipe =(
    load_data('U11.SI','2019-01-01','2021-11-30')
    .pipe(plotbar)
)